# .npmignore
test/
build/test/
jest.config.js
babel.config.js
gateway.config.js
global.css
index.css
index.ts
index.html
webpack.config.js
build/index.html
build/index.js
build/index.js.map
build/main.css
build/main.css.map